PUBLIC_CITY=chennai
PUBLIC_APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
PUBLIC_APPWRITE_PROJECT=69c91ed0000423db1d3f
PUBLIC_APPWRITE_DATABASE=live_city
PUBLIC_APP_ID=com.hanif.city.chennai
PUBLIC_SITE_URL=http://localhost:4321
